
.popup {
  position: fixed;
  width: 20%;
  top: 14%;
  right: 2%;
  color: #ffffff;
  background: #000000b3;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 5px;
}
.popup h3 {
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}
.popup span {
  width: fit-content;
  padding: 0.5em;
  color: #ffffff;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 6px;
}
